.App {
  text-align: center;
}

.countryAndSelect{
  display: flex;
}

.drapeauSecelted{
  width: 200px;
}
.listecountrywrapper{
  width: 90%;
  display: flex;


}
.listCountry{
  overflow-y: scroll;
  height: 80vh;
  margin-left: 5vw;
  margin-top: 5vh;
  width: 35%;

}
.imgDrapeau{
  width: 30px;
}
.listecountry{
  display: inline-block;
}

.navbar{
  position: absolute;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  height: 50px;

  background-color: rgb(27, 27, 150);
}
.NavBar{
  position: absolute;
}